.container-full-bg {
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 20px;
}

.jumbotron {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.822);
}

.card {
    column-count: 2;
}