h1 {
  font-family: 'FinkHeavy';
  text-align: left;
  margin-left: 2%;
  margin-top:1%;
  font-size: calc(100% + 2vw + 2vh);
}

button.navbar-nav-link {
  font-family: 'Allan';
  margin-left: 3vw;
  margin-top: 3vw;
  background-color: #827157;
  border-radius: 50px;
  max-width: calc(100% + 5vw + 5vh);
  width: calc(10vw + 10vh);
  font-size: calc(0.7vw + 0.7vh);
  color: white; 
}

button.navbar-nav-link:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white; 
}

#logoff {
  background-color: #635642;
}

