body {
    background-image: url("../pictures/bg_login.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'FinkHeavy';
    text-align: left;
    margin-left: 2%;
    margin-top:1%;
    font-size: calc(100% + 2vw + 2vh);
}

div.login_div {
    background-color: white;
    border-radius: 10px;
    max-width: intrinsic;
    width: 40%;
    opacity: 0.7;
    margin-left: calc(5vw + 5vh);
    margin-top: calc(6vw + 4vh);
    font-family: "Allan";
    text-align: center;
    color: black;
}

.form-control {
    font-family: "Allan";
    font-size: calc(1vw + 1vh);
    width: 70%;
    text-align: center;
    margin: calc(0.1vw + 0.1vh);
    display: inline-block;
    height: calc(2vw + 2vh);
}

.btn[type="submit"] {
    font-family: "Allan";
    font-size: calc(1vw + 1vh);
    display: block;
    margin-left: 25%;
    width: 50%;
    height: calc(2vw + 2vh);
    background-color: rgb(255, 206, 214);
}

div.links > Button {
    font-size: calc(0.7vw + 0.7vh);
}
